footer {
   height: 110px;
   background: #FFFFFF;
   display: flex;
}

.container-elementos-footer {
   width: 1280px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logos__rodape {
   display: flex;
   align-items: center;
   width: 212px;
}

.logos__rodape .logo {
   margin-right: 10px;
}

.logos__rodape__informacoes-social {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 319px;
}

.grupo__boticario {
   padding-top: 8px;
   text-align: center;
}

.social  a {
   padding-right: 5px;
}

.info {
  padding-bottom: 8px; 
}

.info a {
   font-family: var(--ibm-font);
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   color: var(--black);
}

.grupo__boticario a {
   font-family: var(--ibm-font);
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   color: var(--black);
}